USE [VentasDB]
GO
ALTER TABLE [dbo].[ventas] DROP CONSTRAINT [FK_ventas_clientes]
GO
ALTER TABLE [dbo].[conceptos] DROP CONSTRAINT [FK_conceptos_ventas]
GO
ALTER TABLE [dbo].[conceptos] DROP CONSTRAINT [FK_conceptos_productos]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 7/4/2025 20:03:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ventas]') AND type in (N'U'))
DROP TABLE [dbo].[ventas]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 7/4/2025 20:03:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[productos]') AND type in (N'U'))
DROP TABLE [dbo].[productos]
GO
/****** Object:  Table [dbo].[conceptos]    Script Date: 7/4/2025 20:03:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[conceptos]') AND type in (N'U'))
DROP TABLE [dbo].[conceptos]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 7/4/2025 20:03:06 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clientes]') AND type in (N'U'))
DROP TABLE [dbo].[clientes]
GO
USE [master]
GO
/****** Object:  Database [VentasDB]    Script Date: 7/4/2025 20:03:06 ******/
DROP DATABASE [VentasDB]
GO
/****** Object:  Database [VentasDB]    Script Date: 7/4/2025 20:03:06 ******/
CREATE DATABASE [VentasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VentasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VentasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VentasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\VentasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VentasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VentasDB]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 7/4/2025 20:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conceptos]    Script Date: 7/4/2025 20:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conceptos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[idVenta] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [decimal](18, 2) NOT NULL,
	[importe] [decimal](18, 2) NOT NULL,
	[idProducto] [int] NOT NULL,
 CONSTRAINT [PK_conceptos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 7/4/2025 20:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precioUnitario] [decimal](18, 2) NOT NULL,
	[costo] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 7/4/2025 20:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[idCliente] [int] NULL,
	[total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ventas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [nombre]) VALUES (1, N'Juan Perez')
INSERT [dbo].[clientes] ([id], [nombre]) VALUES (2, N'Franco Gonzalez')
INSERT [dbo].[clientes] ([id], [nombre]) VALUES (3, N'Fulano Detal')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
ALTER TABLE [dbo].[conceptos]  WITH CHECK ADD  CONSTRAINT [FK_conceptos_productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[conceptos] CHECK CONSTRAINT [FK_conceptos_productos]
GO
ALTER TABLE [dbo].[conceptos]  WITH CHECK ADD  CONSTRAINT [FK_conceptos_ventas] FOREIGN KEY([idVenta])
REFERENCES [dbo].[ventas] ([id])
GO
ALTER TABLE [dbo].[conceptos] CHECK CONSTRAINT [FK_conceptos_ventas]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_clientes] FOREIGN KEY([idCliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_clientes]
GO
USE [master]
GO
